:root {
    --root-black: #11001c;
    --root-white: #fff;
    --offset-purple: #3a015c;
    --spacing-unit: 16px;
    --font-size-unit: 16px;
    --font-line-height-unit: 1.15;
    --border-radius-unit: 4px;
    --box-shadow-base: 0px 0px 4px rgba(0, 0, 0, 0.5);

    --badge-grass-background-color: #7ec9ab;
    --badge-poison-background-color: #8d7592;
    --badge-water-background-color: #a1d5d4;
    --badge-fire-background-color: #e35932;
    --badge-psychic-background-color: #734a6a;
    --badge-normal-background-color: #eee3ab;
    --badge-electric-background-color: #fed349;
    --badge-flying-background-color: #d6ddef;
    --badge-bug-background-color: #c5e99b;
    --badge-dragon-background-color: #e6ac5a;
    --badge-dark-background-color: #577ba6;
    --badge-fairy-background-color: #f2ccd5;
    --badge-rock-background-color: #f27930;
    --badge-ground-background-color: #f27930;
    --badge-fighting-background-color: #f27930;
}

@font-face {
    font-family: "Pokemon Hollow";
    src: url("./assets/PokemonHollow.ttf") format(truetype);
}

@font-face {
    font-family: "Pokemon Solid";
    src: url("./assets/PokemonSolid.ttf") format(truetype);
}

@font-face {
    font-family: "Space Grotesk Bold";
    src: url("./assets/spacegrotesk/fonts/static/SpaceGrotesk-Bold.ttf") format(truetype);
}

@font-face {
    font-family: "Space Grotesk Medium";
    src: url("./assets/spacegrotesk/fonts/static/SpaceGrotesk-Medium.ttf") format(truetype);
}

@font-face {
    font-family: "Space Grotesk Regular";
    src: url("./assets/spacegrotesk/fonts/static/SpaceGrotesk-Regular.ttf") format(truetype);
}

html,
body {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk Regular", system-ui;
    background-color: var(--root-black);

    main {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

        #color-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 1;
            width: 100%;
            position: relative;
            isolation: isolate;
            z-index: 1;

            #color-inspired-by {
                position: absolute;
                right: 24px;
                bottom: 24px;
                z-index: 1;
            }

            #new-user-modal {
                height: 516px;
                width: 440px;
                border-radius: 16px;
                isolation: isolate;
                z-index: 2;
                background: #fff;
                border: 2px solid black;
                box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.65);
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                box-sizing: border-box;
                padding: 32px;

                h1 {
                    font-family: "Pokemon Solid";
                    margin-block: 4px;
                }

                p {
                    margin-block: 2px;
                    font-size: 14px;
                    font-weight: 600;
                    letter-spacing: normal;
                    line-height: 1.15;
                    text-align: center;
                }

                button {
                    border: none;
                    background-color: var(--root-black);
                    color: var(--root-white);
                    letter-spacing: normal;
                    line-height: 1.15;
                    font-weight: 700;
                    display: inline-flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    min-width: 96px;
                    border-radius: 30px;
                    box-sizing: border-box;
                    padding-left: 16px;
                    padding-right: 16px;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    font-family: "Space Grotesk Bold";
                    margin-top: auto;
                    cursor: pointer;
                    transition: transform 300ms;
                }

                button:hover {
                    transform: scale(1.24);
                    transition: transform 300ms;
                }
            }
        }

        #controller-section {
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        #controller-top-bar {
            display: flex; 
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            height: 32px;
            width: 100%;
            background-color: var(--root-black);

            #controller-bar-expand-or-collapse-container {
                cursor: pointer;
            }

            #controller-bar-expand-or-collapse-icon {
                transform: rotate(180deg);
            }
        }

        #controller-section-row {
            display: flex;
            flex-direction: column;
            flex: 1;
            width: 100%;
            background: var(--root-black);
            color: var(--root-white);

            * {
                margin-block: 0px;
            }

            #controller-search-bar {
                height: 64px;
                width: 100%;
                box-sizing: border-box;
                padding: 8px;
                display: none;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;

                input {
                    width: 400px;
                    height: 40px;
                    border-radius: 30px;
                    box-sizing: border-box;
                    padding-left: 8px;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    padding-right: 2px;
                    border: none;
                    font-family: "Space Grotesk Regular";
                }

                input:placeholder {
                    font-family: "Space Grotesk Regular";
                }
            }

            #controller-content-container {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: flex-start;
                flex-wrap: wrap;
                max-height: 400px;
                width: 100%;

                box-sizing: border-box;
                margin: 0;
                gap: 48px 24px;

                overflow-x: hidden;
                overflow-y: scroll;
                -ms-overflow-style: none;
                scrollbar-width: none;

                .pokemon-card {
                    height: 280px;
                    width: 324px;
                    border-radius: 10px;
                    box-sizing: border-box;
                    padding: var(--spacing-unit);
                    background-color: white;
                    color: black;
                    box-shadow: 0px 2px 4px rgba(255, 255, 255, 1);
                    display: flex;
                    flex-direction: column;
                    transition: transform 300ms;
                    
                    .pokemon-card-info {

                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 16px;

                        img {
                            height: 100px;
                            width: 110px;
                            image-rendering: optimizeQuality;
                            image-orientation: from-image;
                            object-fit: contain;
                            object-position: center;
                        }

                        h1 {
                            margin-block: 0px;
                            font-size: 24px;
                            text-decoration: underline;
                            font-weight: 600;
                            line-height: 1.15;
                            font-family: "Pokemon Solid";
                            color: #11001c;
                            letter-spacing: 2px;
                            /* text-shadow: 1px 1px 2px black; */
                        }
                    }

                    
                    .pokemon-card-color-wheel {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 4px;
                        box-sizing: border-box;
                        margin-top: 16px;

                        span {
                            height: 20px;
                            width: 20px;
                            border-radius: 10px;
                            border: 1px solid black;
                        }
                    }
                }

                .pokemon-card:hover {
                    transform: scale(1.05);
                    transition: transform 300ms;
                }

                .alt-pokemon-card {
                    --card-height: 344px;
                    --card-width: calc(var(--card-height) / 1.5);
                    box-sizing: border-box;
                    width: var(--card-width);
                    height: var(--card-height);
                    max-height: var(--card-height);
                    overflow: hidden;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    perspective: 2500px;
                    border-radius: 8px;

                    .wrapper {
                        transition: all 0.5s;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        border-radius: 8px;
                    }

                    .wrapper::before,
                    .wrapper::after {
                        content: "";
                        opacity: 0;
                        width: 100%;
                        height: 80px;
                        transition: all 0.5s;
                        position: absolute;
                        left: 0;
                    }

                    .wrapper::before {
                        top: 0;
                        height: 100%;
                        background-image: linear-gradient(
                            to top,
                            transparent 46%,
                            rgba(12, 13, 19, 0.5) 68%,
                            rgba(12, 13, 19) 97%
                        );
                    }

                    .wrapper::after {
                        bottom: 0;
                        opacity: 1;
                        background-image: linear-gradient(
                            to bottom,
                            transparent 46%,
                            rgba(12, 13, 19, 0.5) 68%,
                            rgba(12, 13, 19) 97%
                        );
                    }

                    .cover-image {
                        background: #2f4858;
                        width: 100%;
                        min-height: 100%;
                        border-radius: 8px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-start;
                        box-sizing: border-box;
                        padding: 16px;

                        .poke-id {
                            font-family: "Space Grotesk Medium";
                            font-size: 16px;
                            font-weight: 400;

                            b {
                                font-weight: 600;
                            }
                        }
                      }

                    .title {
                        transition: transform 0.5s;
                        font-family: "Space Grotesk Bold";
                        letter-spacing: normal;
                        line-height: 1.15;
                        font-size: 20px;
                        font-weight: 500;
                        margin-block-end: 8px;
                        color: white;
                    }

                    
                    .character {
                        height: auto;
                        width: 80%;
                        image-orientation: from-image;
                        image-rendering: optimizeQuality;
                        opacity: 0;
                        transition: all 0.5s;
                        position: absolute;
                        z-index: -1;
                    }

                    .color-wheel-title {
                        box-sizing: border-box;
                        margin-top: 16px;
                        font-family: "Space Grotesk Bold";
                        font-weight: 600;
                        letter-spacing: normal;
                    }

                    .color-wheel {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 4px;
                        box-sizing: border-box;
                        margin-top: 16px;

                        span {
                            height: 20px;
                            width: 20px;
                            border-radius: 10px;
                            border: 1px solid black;
                        }
                    }

                    .pokecard-gif-container {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        box-sizing: border-box;
                        margin-top: 16px;
                        max-height: 92px;
                        overflow: hidden;
                    }
                }

                .alt-pokemon-card:hover .wrapper {
                    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
                    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
                    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
                }

                .alt-pokemon-card:hover .wrapper::before,
                .wrapper::after {
                    opacity: 1;
                }

                .alt-pokemon-card:hover .wrapper::after {
                    height: 120px;
                }

                .alt-pokemon-card:hover .title {
                    transform: translate3d(0%, -20px, 100px);
                }

                .alt-pokemon-card:hover .character {
                    opacity: 1;
                    transform: translate3d(0%, -40%, 100px);
                }

                .alt-pokemon-card .poke-types {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 16px 12px;
                    margin-top: 24px;
                    box-sizing: border-box;
                    width: 100%;
                }

                .alt-pokemon-card .poke-sprites {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 16px 12px;
                    margin-top: 24px;
                    box-sizing: border-box;
                    width: 100%;
                }

                .alt-pokemon-card .badge {
                    height: 24px;
                    min-width: 84px;
                    border-radius: 30px;
                    display: inline-flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    font-family: "Space Grotesk Bold";
                    font-weight: 600;
                    letter-spacing: normal;
                    font-size: 14px;
                    line-height: 1.15;
                }

                .alt-pokemon-card .badge.grass-type {
                    background-color: var(--badge-grass-background-color);
                    color: #333;
                }

                .alt-pokemon-card .badge.poison-type {
                    background-color: var(--badge-poison-background-color);
                    color: #fff;
                }

                .alt-pokemon-card .badge.water-type {
                    background-color: var(--badge-water-background-color);
                    color: #333;
                }

                .alt-pokemon-card .badge.fire-type {
                    background-color: var(--badge-fire-background-color);
                    color: #fff;
                }

                .alt-pokemon-card .badge.psychic-type {
                    background-color: var(--badge-psychic-background-color);
                    color: #333;
                }

                .alt-pokemon-card .badge.normal-type {
                    background-color: var(--badge-normal-background-color);
                    color: #333;
                }

                .alt-pokemon-card .badge.flying-type {
                    background-color: var(--badge-flying-background-color);
                    color: #333;
                }

                .alt-pokemon-card .badge.electric-type {
                    background-color: var(--badge-electric-background-color);
                    color: #333;
                }

                .alt-pokemon-card .badge.dragon-type {
                    background-color: var(--badge-dragon-background-color);
                    color: #333;
                }

                .alt-pokemon-card .badge.rock-type {
                    background-color: var(--badge-rock-background-color);
                    color: #fff;
                }

                .alt-pokemon-card .badge.fighting-type {
                    background-color: var(--badge-fighting-background-color);
                    color: #fff;
                }

                .alt-pokemon-card .badge.dark-type {
                    background-color: var(--badge-dark-background-color);
                    color: #fff;
                }

                .alt-pokemon-card .badge.ground-type {
                    background-color: var(--badge-ground-background-color);
                    color: #fff;
                }

                .alt-pokemon-card .badge.fairy-type {
                    background-color: var(--badge-fairy-background-color);
                    color: #333;
                }
            }
        }
    }
}